{% load static %}
<header class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img alt="" src="{% static 'images/heart.svg' %}">
        Together
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    <img alt="" height="24px" width="24px" src="{% static 'images/home.svg' %}">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img alt="" height="24px" width="24px" src="{% static 'images/album.svg' %}">
                    Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img alt="" height="24px" width="24px" src="{% static 'images/couple.svg' %}">
                    About Us
                </a>
            </li>
        </ul>
        <ul class="navbar-nav flex-row col-md-1 ml-md-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <img alt="" height="24px" width="24px" src="{% static 'images/profile.svg' %}">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</header>
<style>
    .navbar{
        background-color: rgb(69, 69, 69);
    }
</style>
